<% title "Tasks" %>
<%= link_to "New Task", new_task_path, class: "btn btn-outline-primary mb-4" %>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @tasks.each do |task| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title"><%= link_to task.name, task %></h4>
          <p class="card-text">Created <%= time_tag(task.created_at, time_ago_in_words(task.created_at)) %> ago</p>
        </div>
        <div class="card-footer">
          <div class="text-muted"><%= pluralize(task.runs.count, "run") %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @tasks %>
