<div>
  <%= link_to "Delete Task", @task, class: "float-end mt-2 btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "This task will be deleted" } %>
  <h1><%= title @task.name %></h1>
</div>
<p>Created <%= time_tag(@task.created_at, time_ago_in_words(@task.created_at)) %> ago</p>

<div class="d-grid mb-3">
  <%= link_to "Run", task_runs_path(@task), class: "btn btn-primary", data: { turbo_method: :post } %>
</div>

<h3>Input</h3>
<pre class="border rounded bg-light-subtle text-muted p-3"><code><%= @task.input %></code></pre>

<% if @task.runs.any? %>
  <h3>
    <span class="float-end">
      <%= link_to task_runs_path(@task) do %>
        All Runs
      <% end %>
    </span>
    Latest Runs
  </h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Created</th>
        <th scope="col">Duration</th>
        <th scope="col">State</th>
      </tr>
    </thead>
    <tbody>
      <% @task.runs.order(created_at: :desc).limit(10).each do |run| %>
        <tr>
          <th scope="row">
            <%= link_to(run.sequential_id, [@task, run]) %>
          </th>
          <td>
            <%= time_tag(run.created_at, time_ago_in_words(run.created_at)) %> ago
          </td>
          <td>
            <%= duration_to_human(run.duration) %>
          </td>
          <td class="text-<%= run_color(run) %>">
            <%= run_state(run) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="d-grid mt-4">
  <%= link_to "Edit Task", edit_task_path(@task), class: "btn btn-outline-primary" %>
</div>
