<div class="pb-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Runa", root_path %></li>
      <li class="breadcrumb-item" aria-current="page"><%= link_to "Tasks", tasks_path %></li>
    </ol>
  </nav>

  <h1><%= @task.name %></h1>
  <p><%= @task.created_at %></p>

  <div class="d-grid mb-3">
    <%= link_to "Run", task_runs_path(@task.id), class: "btn btn-primary", data: { turbo_method: :post } %>
  </div>

  <h3>Input</h3>
  <div class="alert alert-light" role="alert">
    <pre class="mb-0"><code><%= @task.input %></code></pre>
  </div>

  <% if @task.runs.any? %>
    <h3>Previous Runs</h3>
    <ul>
      <% @task.runs.order(created_at: :desc).each do |run| %>
        <li><%= link_to run.created_at, run %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="d-grid mt-4">
    <%= link_to "Edit Task", edit_task_path(@task), class: "btn btn-outline-primary" %>
  </div>
</div>
