<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @run.task.name %> #<%= @run.sequential_id %></h1>

    <h3>Script</h3>
    <pre><code><%= @run.script %></code></pre>

    <h3>Output</h3>
    <pre><code><%= @run.output %></code></pre>

    <% if @run.assets.present? %>
      <h3>Assets</h3>
      <ul>
        <% @run.assets.sort_by(&:filename).each do |asset| %>
          <li><%= link_to asset.filename, asset %></li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>

