<div id="<%= dom_id run %>">
  <%= turbo_frame_tag dom_id(run) do %>
    <div class="d-grid">
      <% if run.created? or run.started? %>
        <%= link_to "Cancel", cancel_task_run_path(run.task, run.sequential_id), class: "btn btn-danger mb-3", data: { turbo_method: :put } %>
      <% else %>
        <%= link_to run.state.capitalize, "#", class: "btn btn-outline-secondary disabled mb-3" %>
      <% end %>

      <h3>Script</h3>
      <div class="highlight border rounded bg-light-subtle p-3 mb-3"><%= raw highlight(run.task.script) %></div>

      <h3>Output</h3>
      <pre class="border rounded bg-light-subtle p-3"><code><%= run.output %></code></pre>

      <% if run.assets.present? %>
        <h3>Assets</h3>
        <ul class="mb-0">
          <% run.assets.sort_by(&:filename).each do |asset| %>
            <li><%= link_to asset.filename, asset %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
