<% if @task %>
  <%= link_to "New Run", task_runs_path(@task), class: "btn btn-outline-primary mb-4", data: { turbo_method: :post } %>
<% end %>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @runs.each do |run| %>
    <div class="col">
      <div class="card h-100 border-<%= run_color(run) %>">
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to run.task.name, [run.task, run] %>
            <span class="text-muted">#<%= run.sequential_id %></span>
          </h4>
          <p class="card-text">Created <%= time_ago(run.created_at) %> ago</p>
        </div>
        <div class="card-footer">
          <div class="text-muted float-end"><%= duration_to_human(run.duration) %></div>
          <div class="text-muted"><span class="text-<%= run_color(run) %>"><%= run_state(run) %></span></div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @runs %>
