<div class="pb-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Runa", root_path %></li>
      <li class="breadcrumb-item" aria-current="page"><%= link_to "Tasks", tasks_path %></li>
    </ol>
  </nav>

  <h1><%= link_to @run.task.name, @run.task %></h1>
  <p>Last updated at <%= @run.updated_at %></p>

  <%= turbo_stream_from "run" %>
  <%= render "run", run: @run %>
</div>
