<% title "#{@task.name} ##{@run.sequential_id}" %>

<div>
  <%= link_to "Delete Run", [@task, @run], class: "float-end mt-2 btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "This run will be deleted" } %>
  <h1>
    <%= link_to @task.name, @task %>
    <span class="text-muted">#<%= @run.sequential_id %></span>
  </h1>
</div>
<p>Created <%= time_ago(@run.created_at) %> ago</p>

<%= turbo_stream_from "run" %>
<%= render "run", run: @run %>
