<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags site: "Runa", separator: "-", reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-100 container d-flex flex-column">
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show mt-4 mb-2" role="alert">
        <strong>Success!</strong> <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show mt-4 mb-2" role="alert">
        <strong>Warning!</strong> <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <% if content_for? :fullscreen %>
      <%= yield :fullscreen %>
    <% else %>
      <div class="d-grid pt-2 pb-4">
        <div>
          <% if current_user.present? %>
            <p class="float-end"><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %></p>
          <% end %>
          <% if @breadcrumb.present? %>
            <nav class="" aria-label="breadcrumb">
              <ol class="breadcrumb flex-nowrap pe-2">
                <% @breadcrumb.each do |name, link| %>
                  <li class="breadcrumb-item text-truncate <%= name == @breadcrumb.last.first ? "active" : "" %>">
                    <% if link.present? %>
                      <%= link_to name, link %>
                    <% else %>
                      <%= name %>
                    <% end %>
                  </li>
                <% end %>
              </ol>
            </nav>
          <% end %>
        </div>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
